.profile-container {
  /* margin: 0 auto; */
  /* width: 90%; */
  max-width: 1000px;
  padding: 20px;
  /* border-radius: 8px; */
  color: var(--site-text-color, #000);
}

/* .input-wrapper {
  display: flex;
  gap: 20px;
  justify-content: center;
  margin-bottom: 20px;
}

.input-wrapper input {
  padding: 12px;
  font-size: 16px;
  border: 1px solid black;
  border-radius: .25em;
  box-shadow: #000 6px 8px;
}

.input-wrapper button {
  padding: 5px 12px;
  border: 1px solid black;
  border-radius: .25em;
  box-shadow: #000 6px 8px;
  cursor: pointer;
} */

.user {
  padding: 15px;
  /* border-radius: 10px;
  border: #000 1px solid;
  background-color: coral; */
}

.avatar {
  /* height: 100px;
  aspect-ratio: 1; */
  border-radius: 50%;
  /* outline: 1px solid; */
}

.name-container {
  display: flex;
  align-items: center;
  gap: 20px;
  /* justify-self: center; */
  margin-top: 20px;
  font-size: 16px;
}

.name-container p {
  margin: 4px;
  /* font-weight: bold; */
  color: inherit;
  */
}

.profile-info div {
  display: flex;
  gap: 20px;
  justify-content: center;
  margin-top: 20px;
}

.name-details {
  text-align: left;
}

.name-details a {
  color: inherit;
  font-size: 24px;
}

.name-details a:hover {
  color: #616161;
}

.name-details p {
  margin-left: 0px;
  font-size: 13px;
}